doctype
html(ng-app="app")
	head
		meta(charset="utf-8")

		link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="/content/style.css")
	body

		.main-container
			.alphabetical-list-container
				alphabetical-list

			.person-container
				div(ng-view)


		script(type="text/javascript", src="/bower_components/angular/angular.js")
		script(type="text/javascript", src="/bower_components/angular-route/angular-route.js")

		script(type="text/javascript", src="/app/app.module.js")

		script(type="text/javascript", src="/app/core/core.module.js")
		script(type="text/javascript", src="/app/core/repository.js")

		script(type="text/javascript", src="/app/people/people.module.js")
		script(type="text/javascript", src="/app/people/alphabetical.repository.js")
		script(type="text/javascript", src="/app/people/alphabeticalList.directive.js")
		script(type="text/javascript", src="/app/people/config.route.js")
		script(type="text/javascript", src="/app/people/people.repository.js")
		script(type="text/javascript", src="/app/people/person.controller.js")
		