.person
	.row
		.col-xs-6
			.row
				.col-xs-3
					img.img-responsive.photo(src="/mockup/avatar.png")
				.col-xs-9
					h2 {{person.name}}

			h4 Education

			.row(ng-repeat="edu in person.education | orderBy:'startYear':true")
				.col-xs-3
					strong {{edu.startYear}}
					strong(ng-show="edu.endYear") &nbsp;-&nbsp;{{edu.endYear}}

				.col-xs-9
					strong {{edu.institution}}
					br
					span {{edu.degree}}

			h4 Experience

			.row(ng-repeat="work in person.workExperience | orderBy:'startYear':true")
				.col-xs-3 
					strong {{work.startYear}}
					strong(ng-show="work.endYear") | {{work.endYear}}
				.col-xs-9
					strong {{work.institution}}
					br
					span {{work.title}}